/*tt main css*/

/* Search */
#search {
	background: #004a98;
	border-top: 1px solid #fff;
	padding: 20px 0;
	padding: 2rem 0;
}
.IDX-quicksearchWrapper {
    width:100% !important;
}
#IDX-quicksearch-43563 {
    width:100% !important;
}
#IDX-quicksearchForm-43563 {
    width:100% !important;
}
.IDX-qsFieldWrap {
}
.IDX-qsInput {
    width:100% !important;
}
#search #IDX-qsMinPriceWrap-43563,
#search #IDX-qsMaxPriceWrap-43563 {
	float: left;
	margin-right: 2%;
	width:15%;
}
#search #IDX-qsCityListWrap-43563,
#IDX-qsCityListWrap-43563 select {
	float: left;
	margin-right: 2%;
    width:30%;
}
#IDX-qsCityListWrap-43563 select {
    width:100%;
}
#search #IDX-qsSubmitWrap-43563,
#search .IDX-qsInput .IDX-qsButtonInput {
	float: left;
	right: 0;
	bottom: -9px;
}
#search #IDX-qsSubmitWrap-43563 {
    float:right;
    margin-top:27px;
	font-size: 1.3em;
}
#search input[type="submit"] {
	color: #fff;
	background: #fdb825;
	width: 100%;
    height:40px;
    border:0px;
    padding:5px 33px;
}
#search label {
	color: #fff;
	display: block;
	font-size: 1.0em;
	font-size: 1.6rem;
	text-transform: uppercase;
}
#search input[type="text"],
#search select {
	background: #cdcfd0;
	border: 1px solid #8a8b8c;
	box-shadow: none;
	color: #58585a;
    height:40px;
    padding:10px;
}
/* Search - mobile ------------------------START------------------- */

@media only screen 
and (max-width : 768px) {

#search {
	background: #004a98;
	border-top: 1px solid #fff;
	padding: 20px 0;
	padding: 2rem 0;
}
.IDX-quicksearchWrapper {
    width:100% !important;
}
#IDX-quicksearch-43563 {
    width:100% !important;
}
#IDX-quicksearchForm-43563 {
    width:100% !important;
}
.IDX-qsFieldWrap {
    width:100% !important;
}
.IDX-qsInput {
    width:100% !important;
}
#search #IDX-qsMinPriceWrap-43563,
#search #IDX-qsMaxPriceWrap-43563 {
	float: none !important;
	margin-right: 2%;
	width:100% !important;
}
#search #IDX-qsCityListWrap-43563,
#IDX-qsCityListWrap-43563 select {
	float: none !important;
	margin-right: 2%;
    width:100% !important;
}
#IDX-qsCityListWrap-43563 select {
    width:100%;
}
#search #IDX-qsSubmitWrap-43563,
#search .IDX-qsInput .IDX-qsButtonInput {
	float: none !important;
	right: 0;
	bottom: -9px;
}
#search #IDX-qsSubmitWrap-43563 {
    float:none !important;
    margin-top:27px;
	font-size: 1.3em;
}
#search input[type="submit"] {
	color: #fff;
	background: #fdb825;
	width: 100%;
    height:40px;
    border:0px;
    padding:5px 33px;
    border:1px solid green !important;
}
#search label {
	color: #fff;
	display: block;
	font-size: 1.0em;
	font-size: 1.6rem;
	text-transform: uppercase;
}
#search input[type="text"],
#search select {
	background: #cdcfd0;
	border: 1px solid #8a8b8c;
	box-shadow: none;
	color: #58585a;
    height:40px;
    padding:10px;
}

} /* @media -------------END-----------------*/



/* Depricate?
#search > .wrap {
	position: relative;
}
#search form {
	margin: 0;
	padding: 0;
}
#search .details {
	clear: both;
	color: #a3b4d0;
	font-size: 12px;
	font-size: 1.2rem;
	margin-top: 10px;
	margin-top: 1rem;
	width: 100%;
}
#search .details a {
	color: #a3b4d0;
}
#search .advanced {
	float: left;
	margin: 0;
	padding: 0;
}
#search .advanced {
	float: left;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 40%;
}
#search .matches {
	float: right;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 40%;
}
*/

/* home page boxes */

#home-boxes img {
	height: auto;
	width: 100%;
}

#home-boxes ul {
	display: block;
	list-style: none;
	margin: 15px 0 0 0;
	padding: 0;
}

#home-boxes ul li.hbox-wrap {
	display: inline-block;
    padding:0 5px 0 0;
}
#home-boxes ul li.hbox-wrap img {
	background-color: blue;	
}


#home-boxes ul li.hbox-wrap:hover {
	opacity:0.6;
	filter:alpha(opacity=60);
}

#home-boxes h2 {
	background: #004a98;
	color: #a3b4d0;
	display: block;
	font-size: 18px;
	font-size: 1.8rem;
	padding: 10px 0;
	padding: 1rem 0;
    margin-top:0px;
	text-align: center;
	width: 100%;
}

._searchresultsdata, ._searchresultsdata, ul.pagination, li.pages {
    padding:0 8.33333333% 0 8.33333333% !important;
}
.block .block-title {
    margin:16px 0 0 0;
}

/* Callout */
#callout {
	background: #2d7acb;
	padding: 10px 0;
	padding: 1rem 0;
    margin:0 0 1.0em 0;
    min-height:5.0em;
}

#callout p {
	color: #fff;
	font-size: 25px;
	font-size: 2.5rem;
	letter-spacing: 3px;
	letter-spacing: 0.3rem;
	line-height: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#callout img {
	max-height: 51px;
	max-width: 237px;
	vertical-align: bottom;
}

#core_middle_column {
    width:66.66666667% !important;
    padding:0 0 0 8.33333333%;
}
#core_right_column {
}
#core_left_column {
}
/*
.block {
    margin:0 !important;
    padding:0 !important;
}
*/

.block-title {
    background-color:#004894 !important;
    color:white !important;
    margin: 0 0 0 0 !important;
}

#core_left_column .block {
    overflow: hidden;
    background-color:white;
}
#core_left_column .block-content {
    background-color:#bdc2c6 !important;
}
.btn-viewall {
    color:white !important;
}
#core_middle_column .block-content,
.block ._searchresultsdata .block-content {
    background-color:white !important;
    
}
._searchresultsdata .block-content {
    margin:2.0em 0 0 0 !important;
    padding:0 8.33333333% !important;
}
#recentlistings .block-title {
    padding:0 8.33333333% !important;
    margin: 2.0em 0 0 0 !important;
    background-color:white !important;
    color:black !important;
}
.category_object_block .btn-viewall {
    line-height: normal !important;
}

#core_footer_wrapper, #footer_content { background:#01365D; border:0px; }
#core_footer_wrapper, #footer_content, #core_footer_wrapper h3 { color:#ffffff;}


#core_menu_wrapper {
    
}
/*Right Column*/
#core_right_column {
    padding-right:0;
}
#footer_content {
    padding:0 8.33333333% 0 8.33333333%;
}
#footer_bottom {
    padding:2.0em 7% 2.0em 7% !important;
}
.IDX-showcaseCell {
    min-width:55px !important;
}
.IDX-showcaseGallery-47975 {
    margin-left:-12px !important;
    padding-left:0 !important;
}

.nbc {
    display:block;
}
.core_main_breadcrumbs_wrapper {
    display:block;
}

.nbc {
    border-top:1px solid #999999;
    background: #CDCFD0;
    /*box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .25);*/
    clear: both;
    font-size: 1.083em;
    line-height: 17px;
    min-height: 0px;
    position: relative;
    z-index: 203;
    -webkit-font-smoothing: antialiased;
} 
.item .thumbnail a {
    border:0px solid red;
    min-height:150px;
    min-width:100px;
}
.item h1{
}
#core_middle_column ._searchresultsdata .block-content {
    background: transparent;
    padding: 0 0 0 0 !important;
}
._searchresultsdata {
    padding:0 !important;
}
.wlt_search_results.list_style .thumbnail .frame img {
    min-width:200px !important;
}
#wlt_smalldevicemenubar {
    padding:1.0em 8.33333333% !important;
    background-color:#004a98 !important;
}
#wlt_smalldevicemenubar a {
    padding:0px !important;
    background-color:#004a98 !important;
}
#wlt_smalldevicemenubar ul li {
    background-color:#bdc2c6 !important;
}
#wlt_smalldevicemenubar ul li a {
    color:#004a98 !important;
    padding-left:1.0em !important;
    background-color:transparent !important;
}

.srp-widget-singlepost {
    min-height:270px !important;
}
.media {
    margin:1.0em 0;
    border-bottom:1px solid #bdc2c6;
    padding 0.5em 0.5em !important;
}
.media img {
    min-height:60px;
}
h4.media-heading a {
}
h4.media-heading {
    padding-top: 0.7em;
}

/* mobile ------------------------START------------------- */

@media only screen 
and (max-width : 768px) {
    
.srp-widget-singlepost {
    min-height:100px !important;
} 
#core_middle_column {
width: 92% !important; 
}
#core_right_column {
    padding: 0 8.33333333%;
}
.media {
    margin:1.0em 0;
    background-color:#bdc2c6;
}
.media img {
    min-height:60px;
}
.media-heading {
    font-size:1.2em;
}
.media-body {
}
h4.media-heading {
    padding-top: 0.2em;
}
.block-content {
    padding:0 !important;
}


} /* mobile ------------------------END------------------- */

.srp-widget-container .srp-thumbnail-box {
    display:block !important;
}
#core_middle_column  .panel-body {
    padding:0px !important;
    margin:0px !important;
}










